<div class="row">
  <div class="col-lg-4">
<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>-->
<h2>Editar Usuário</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well", method: :put }) do |f| %>
  <%= devise_error_messages! %>

 
    <%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <%= f.input :password , autocomplete: "off", placeholder: "mínimo 6 caracteres"%> 

    <%= f.input :password_confirmation , autocomplete: "off" %>
    <%= f.input :current_password, autocomplete: "off", placeholder: "Confirme seu password atual" %> 

    <%= f.button :submit, "Update" %>
<% end %>


<h4>Cancelar conta</h4>
<%= link_to "Cancelar", registration_path(resource_name),  class: "btn btn-danger", data: { confirm: "Tem certeza que quer deletar sua conta?" }, method: :delete %> |

<%= link_to "Voltar", :back , class: "btn btn-primary"%>


</div>

</div>