<div class="row">
  <div class="col-lg-4">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well"}) do |f| %>
 

  <fieldset>
  <legend>Registro</legend>
    <%= f.input :first_name %> 
    <%= f.input :last_name  %> 
    <%= f.input :profile_name  %>
    <%= f.input :email  %>
    <%= f.input :password , autocomplete: "off", placeholder: "mínimo 6 caracteres" %>
    <%= f.input :password_confirmation, autocomplete: "off"  %>


<!-- OLD PASSWORD FIELD
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
-->

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  </fieldset>


<% end %>

<!--<%= render "devise/shared/links" %>-->
</div>

<div class="col-lg-7">
 <%= devise_error_messages! %>
</div>
</div>