<%= simple_form_for(@contato, html: { class: 'form-horizontal' }, wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  
  <% if @contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% @contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.input :nome %>
  <%= f.input :apelido %>
  <%= f.input :email %>
  <%= f.input :telefone %>
  <%= f.input :nascimento %>
  <%= f.input :foto, as: :file %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
       <%= f.button :submit %>
    </div>
  </div>

<% end %>
