<div class="page-header">
  <h1>Lista de contatos <%= link_to 'Adicionar', new_contato_path, class: "btn btn-success" %></h1>
</div>

<% if user_signed_in? %>
<% current_user.contatos.each do |contato|  %>

<div class= "contatos">
<!-- <%= contato.avatar.url %> -->
  <div class="row">
      <div class="col-md-1"> <%= link_to image_tag(contato.avatar.url(:thumb), size: "100", :class => "style_image"), contato  %>
      </div>
      
      
      <div class="col-md-8">
      <div class="data1"><strong >Nome: </strong> <%= contato.nome %></div>
      <div class="data1"><strong >Email: </strong> <%= contato.email %></div>
      <div class="data1"><strong >Telefone: </strong><%= contato.telefone %></div>

      <!--<%= link_to "Ver", contato, class: "btn btn-info btn-sm" %>-->
      </div>
        
         <br>
          <%= link_to "Edit", edit_contato_path(contato),  class: "btn btn-primary" %> |
          <%= link_to "Delete", contato, method: :delete, data: {confirm: "Tem certeza que quer deletar esse contato?"}, class: "btn btn-danger"  %>
       
  </div>
</div>


<% end %>
<% end %>
