<div class= "contatos row">
<div class="col-md-5">
<div class="showFoto col-sm-offset-4 col-sm-5">
<%= image_tag(@contato.avatar.url(:original), size: "300") %>
</div>
</div>
<div class="col-md-6">
<div class="showDadosContato">
<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @contato.apelido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contato.telefone %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @contato.nascimento.to_formatted_s(:rfc822) %>
</p>
</div>
</div>


</div>
<br>
<div class="col-lg-10">
<div class="form-group">
<div class="col-sm-offset-3 col-sm-5">
<%= link_to 'Editar', edit_contato_path(@contato), class: "btn btn-primary" %> |
<%= link_to 'Voltar', contatos_path, class: "btn btn-warning" %>
</div>
</div>
</div>