<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @contato.apelido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contato.telefone %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @contato.nascimento %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @contato.foto %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
